@import url(https://fonts.googleapis.com/css?family=Roboto);@import url(https://fonts.googleapis.com/css?family=Roboto:100);@import url(https://fonts.googleapis.com/css?family=Roboto:300);@charset "UTF-8";
/* ALL ELEMENTS */
html {
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

/* LOGIN PAGE */
.login_body {
  overflow-x: hidden;
}

.login_background_image {
  width: 100%;
  height: 100vh;
  background: url("../../assets/login_header.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
}

.login_background {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

.middle_man {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.centered {
  margin: 0 auto;
  max-width: 400px;
}

/* FORM */
.login_header {
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
}

.login_header i {
  font-size: 100px;
}

.login_header h2 {
  font-size: 26px;
  margin-top: 15px;
  font-weight: 300 !important;
}

.login_form {
  background: linear-gradient(to bottom, #ff9999 0%, #173b75 100%);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 30px;
  font-family: "Roboto" !important;
  font-weight: 300 !important;
  text-align: center;
  border-radius: 10px;
  max-width: 350px;
}

.login_form .forgot_pass {
  padding: 16px;
}

.login_form .form-group {
  text-align: left;
}

.login_form .login_input_label {
  position: absolute;
  margin: 6px;
  padding: 4px;
  padding-right: 10px;
  color: white;
}

.login_form .form-group input {
  background: transparent;
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  font-family: "Roboto" !important;
  font-weight: 300 !important;
  font-size: 16px;
  transition: 0.3s;
  margin-bottom: 20px;
  caret-color: white;
  color: white !important;
}

.login_form .form-group input:focus {
  outline: 0;
  box-shadow: none !important;
  border-bottom: 2px solid white;
  color: white !important;
}

.login_form .form-group input::-webkit-input-placeholder {
  color: lightgray;
  font-family: "Roboto" !important;
  font-weight: 300 !important;
}

.login_form .form-group input:-ms-input-placeholder {
  color: lightgray;
  font-family: "Roboto" !important;
  font-weight: 300 !important;
}

.login_form .form-group input::-ms-input-placeholder {
  color: lightgray;
  font-family: "Roboto" !important;
  font-weight: 300 !important;
}

.login_form .form-group input::placeholder {
  color: lightgray;
  font-family: "Roboto" !important;
  font-weight: 300 !important;
}

.login_form .remember_me {
  color: white;
  font-size: 12px;
  text-align: left;
  margin-top: 30px;
}

.login_form input {
  padding-left: 40px;
}

.login_form .form-group.login_btn_group {
  text-align: center;
}

.login_btn_group button {
  margin-top: 40px;
}

.login_form .form-group.forgot_password_group {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}

.forgot_password_group a {
  color: white;
  text-decoration: none;
  margin-top: 40px;
  font-size: 12px;
}

.btn-login {
  padding: 5px 45px;
  border: none;
  border-radius: 15px;
  background-color: white;
  color: #333;
  font-weight: bold;
}

.btn-login:hover {
  background-color: lightblue;
  color: #333;
}

.btn-login:focus {
  box-shadow: none;
  border: none;
  background-color: #00c6ff;
  color: #333;
}

.btn-login:active {
  box-shadow: none !important;
  border: none !important;
  background-color: #00c6ff !important;
  color: #333 !important;
}

.invalid-feedback {
  text-align: center;
  color: white;
}

.help-block {
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.alert {
  text-align: center;
}

.submit_btn_group {
  text-align: center;
}

/* CHECKBOX STYLING */
#remember_me {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #333;
  top: 3px;
  padding: 8px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

#remember_me::before {
  position: absolute;
  font: 10px/1 "Open Sans", sans-serif;
  font-weight: bolder;
  left: 4.5px;
  top: 3px;
  content: "\2143";
  -webkit-transform: scale(0) rotate(40deg);
          transform: scale(0) rotate(40deg);
  opacity: 1;
  transition: 0.3s;
}

#remember_me:checked::before {
  opacity: 1;
  -webkit-transform: scale(1) rotate(40deg);
          transform: scale(1) rotate(40deg);
}

#remember_me:hover {
  background-color: #f7f7f7;
}

#remember_me:checked {
  background-color: #f1f1f1;
}

.remember_me label {
  font: 300 16px/1.7 "Open Sans", sans-serif;
  color: lightgray;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

#remember_me:checked + label {
  color: white;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #remember_me {
    width: 16px !important;
    height: 16px !important;
    border-radius: 3px;
  }

  #remember_me:checked::-ms-check {
    opacity: 1;
  }

  #remember_me::-ms-check {
    transition: 0.3s;
    color: #333;
    border: none;
    border-color: white;
    border-radius: 3px;
    transform: scale(0.5);
    opacity: 0;
  }
}