@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    font-family: 'Roboto', sans-serif;
    color: lightgray;
    background: #060d21;
}

body {
    padding: 0px 20px;
}

h1, h2 {
    display: inline-block;
    clear: both;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 5px solid white;
    color: white;
}

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }