@import url(https://fonts.googleapis.com/css?family=Roboto);@import url(https://fonts.googleapis.com/css?family=Roboto:100);@import url(https://fonts.googleapis.com/css?family=Roboto:300);/* ALL ELEMENTS */
html {
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto" !important;
  overflow: hidden;
}

/* NAVBAR */
nav {
  border-bottom: 1px solid lightgray;
  display: fixed;
}

nav table {
  width: 30% !important;
  float: right;
  clear: right;
  border-top: 0px !important;
  margin: 0px !important;
  font-weight: bold;
}

nav table td {
  border: none !important;
  vertical-align: middle !important;
}

iframe {
  width: 100% !important;
  height: calc(100vh - 57px) !important;
}

.btn-mini {
  transition: 0.3s;
}

.btn-mini {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler {
  position: absolute;
  top: 10px;
  right: 10px;
}

.blink_me {
  -webkit-animation: blinker 1s linear 5;
          animation: blinker 1s linear 5;
}

@-webkit-keyframes blinker {
  50% {
    color: red;
  }
}

@keyframes blinker {
  50% {
    color: red;
  }
}